body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: #f5f5f5;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 90%; 
    max-width: 400px;
}

input, button {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        width: calc(100% - 22px);
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-color: #007bff;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #0056b3;
}

button:hover {
    width: calc(100% - 22px);
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%; 
        max-width: none; 
    }
}
